.devcontainer/
.cargo/
/target
*.vgm
*.vgz
*.wav
*.zst
*.mdx
*.MDX
*.pdx
*.PDX
!crates/soundlog/assets/vgm/*.vgm
!crates/soundlog/assets/mdx/*.mdx
!crates/soundlog/assets/mdx/*.MDX
!crates/soundlog/assets/mdx/*.pdx
!crates/soundlog/assets/mdx/*.PDX
